<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Rádio" tabIcon="md-radio"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Programação" tabIcon="md-calendar"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Vídeos" tabIcon="logo-youtube"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Contato" tabIcon="md-contact"></ion-tab>
</ion-tabs>
