<!--
  Generated template for the VideosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <div align="center">
           <ion-title>Vídeos</ion-title>
        </div>
    </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
