<ion-header>
    <ion-navbar>
        <div align="center">
           <ion-title>Fale com a gente</ion-title>
        </div>
    </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      @ionicframework
    </ion-item>
  </ion-list>
</ion-content>
