<ion-header>
  <ion-navbar>
    <div align="center">
      <ion-title>Palavra Web</ion-title>
    </div>
  </ion-navbar>
</ion-header>


<ion-content> 
    
        <div align="center" class="img-container"><img src="./assets/imgs/webradio.png" class="webradio"/></div>
        <ion-card-content>
            <div align="center">               

                <button *ngIf="!showUsers" ion-button (click)="play()" class="playerButton">
                    <ion-icon name="ios-play-outline" class="icon" style="color:white;"></ion-icon>
                </button>  

                <button *ngIf="showUsers" ion-button (click)="play()" class="playerButton">
                    
                    <ion-icon name="ios-play-outline" class="icon" style="color:#D13439"></ion-icon>
                </button>  
              
                <button ion-button (click)="pause()" class="playerButton">
                    <ion-icon name="ios-pause-outline" class="icon"></ion-icon>
              </button>   
            </div>
        </ion-card-content>   
     




  
</ion-content>
