page-home {

}

.main-content{
    overflow: hidden;
}

.playerButton{
    background-color: #22A7DF; 
    height: 50px; 
    width: 70px; 
    
}

.playerButtonGreen{
    background-color: rgb(42, 243, 16); 
    height: 50px; 
    width: 70px; 
    
}

.icon{
    color:white; 
    font-size: 36px
}

.webradio{
    height: 185pt;
    width: 130pt;
}

.img-container{
    padding: 10px;
}